# Cours - Traitement des données en table
# Fich 1 : opérations sur les tables


**Table des matières**

1. Créer une table avec Python
2. Sélectionner des lignes vérifiant un critère
3. Sélectionner des colonnes
4. Trier une table selon une colonne

## 1. Créer une table avec Python

En python on représente facilement une table avec une sctructure du type : liste de dictionnaires.

**Exemple de table**

| Nom   | Anglais | NSI  | Math |
|:-:    |:-:      |:-:   |:-:   |
| Paul  | 10      | 15   | 10   |
| Marie | 15      | 12   | 18   |
| Alice | 11      | 15   | 18   |

In [ ]:
tableNotes = [{'Nom': 'Paul', 'Anglais': 10, 'NSI': 15, 'Math': 10},
          {'Nom': 'Marie', 'Anglais': 15, 'NSI': 12, 'Math': 18},
          {'Nom': 'Alice', 'Anglais': 11, 'NSI': 15, 'Math': 18}]

In [ ]:
>>> tableNotes

## 2. Sélectionner des lignes vérifiant un critère

Nous allons créer une nouvelle table en fonction d'une collection et de critères. 

Dans les critères on utilisera les opérateurs <, >, <= >=,==,!=, in, not, and, or, is ...

In [ ]:

from pprint import pprint

def select(table, critere):
    return [ligne for ligne in table if eval(critere)]

In [ ]:
pprint(select(tableNotes, "ligne['Math'] > 16"))

**Exercice**

Écrire une commande pour afficher les lignes lorsque la note de NSI est égale à 15

In [ ]:
pprint(select(tableNotes, "ligne['NSI'] == 15"))

**Exercice :**

Proposer une version de la fonction sans liste par compréhension.

In [ ]:
def select(table, critere):
    table2 = []
    for ligne in table:
        if eval(critere):
            table2.append(ligne) 
    return table2

pprint(select(tableNotes, "ligne['Math'] > 16"))

## 3. Sélectionner des colonnes

L'opération de sélectionner plusieurs colonnes est appelée **projection**.

In [ ]:
def projection(table, liste_attributs):
    return [{cle:ligne[cle] for cle in ligne if cle in liste_attributs} for ligne in table]


pprint(projection(tableNotes, ['Nom', 'NSI']))

**Exercice :**

Proposer une version de la fonction sans liste par compréhension.

## 4. Trier une table selon une colonne


Comme une table est représentée par une liste, on utilise la fonction **sorted** pour réaliser le tri par ordres croissant ou décroissant.

**Exemple :** tri par ordre décroissant.

In [ ]:
def triColonne(table, attribut, decroit=False):
    def critere(ligne):
        return ligne[attribut]
    return sorted(table, key=critere, reverse=decroit)


pprint(triColonne(tableNotes, 'Math', True))

**Exercice :**
Proposer une commande pour trier les notes d'Anglais par ordre croissant.

## 4. Fusion de deux tables

Nous allons fusionner deux tables selon un **attribut (descripteur, champ)**. 

On sélectionne dans chaque table la ligne ayant la même valeur pour l'attribut choisi.

**Exemples de tables :**

> TableNotes 

| Nom   | Anglais | NSI  | Math |
|:-:    |:-:      |:-:   |:-:   |
| Paul  | 10      | 15   | 10   |
| Marie | 15      | 12   | 18   |
| Alice | 11      | 15   | 18   |


> TableMails 

| Nom   | Age     | Mail          |
|:-:    |:-:      |:-:            |
| Paul  | 17      | paul@ici.net  |
| Marie | 15      | marie@ici.net |
| Alice | 15      | alice@ici.net |



Pour réaliser la fusion de tables il faut réaliser une copie superficielle d'éléments.

Pour cela on utilisera le **module deepcopy**.

In [ ]:
from copy import deepcopy
def jointure(table1, table2, cle1, cle2=None):
    if cle2 is None:
        cle2 = cle1
    table3 = []
    for ligne1 in table1:
        for ligne2 in table2:
            if ligne1[cle1] == ligne2[cle2]:
                ligne3 = deepcopy(ligne1)
                for cle in ligne2:
                    if cle != cle2:
                        ligne3[cle] = ligne2[cle]
                table3.append(ligne3)
    return table3

In [ ]:
tableNotes = [{'Nom': 'Paul', 'Anglais': 10, 'NSI': 15, 'Math': 10},
          {'Nom': 'Marie', 'Anglais': 15, 'NSI': 12, 'Math': 18},
          {'Nom': 'Alice', 'Anglais': 11, 'NSI': 15, 'Math': 18}]
tableMails = [{'Nom': 'Paul', 'Age': 17, 'Courriel': 'paul@ici.net'},
          {'Nom': 'Marie', 'Age': 15, 'Courriel': 'marie@ici.net'}]
pprint(jointure(tableNotes, tableMails, 'Nom'))

**Exercice :**

Compléter le tableau du résultat de la fusion.

 

| Nom   | Age     | Mail      | Anglais | NSI  | Math |
|:-:    |:-:      |:-:        |:-:      |:-:   |:-:   |
|...    |...      |...        |...      |...   |...   |
|...    |...      |...        |...      |...   |...   |

Certains sites proposent des données ouvertes (open source). Les tables contiennent une grande quantité d'information. Un format simple pour l'échange de tables est le format CSV.

Dans la fiche suivante nous allons apprendre à manipuler les données d'un fichier CSV avec le langage Python.